{% extends "base.html" %}

{% block content %}

<div class="container mt-3">
    <h3 class="fa fa-align-center" aria-hidden="true">{{ _('Room:') }} {{ current_user.roomid }}</h3>
    <table class="table">
        <thead>
            <tr>
                {% if current_user.roomadm == 'X' %}
                <th></th>
                {% endif %}
                <th>{{ _('Singer') }}</th>
                <th>{{ _('Music') }}</th>
                <th>{{ _('Artist') }}</th>
                <th>D</th>
            </tr>
        </thead>
        <tbody>
            {% for queue_item in queue %}
            <tr>
                <td>
                    {% if queue_item.status == 'P' %}
                    {% if current_user.roomadm == 'X' %}
                    <a class="clickable-image" id="{{ queue_item.id }}"
                        href="{{ url_for('main.delqueue', queueid=queue_item.id) }}">
                        {% if current_user.theme == 'light' %}
                        <img src="{{ url_for('static', filename='images/icon-play-light.png') }}" height="24" width="24">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/icon-play-dark.png') }}" height="24" width="24">
                        {% endif %}
                    </a>
                    {% else %}
                        {% if current_user.theme == 'light' %}
                        <img src="{{ url_for('static', filename='images/icon-play-light.png') }}" height="24" width="24">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/icon-play-dark.png') }}" height="24" width="24">
                        {% endif %}
                    {% endif %}
                    {% elif current_user.roomadm == 'X' or current_user.id == queue_item.userid %}
                    <a class="clickable-image" id="{{ queue_item.id }}"
                        href="{{ url_for('main.delqueue', queueid=queue_item.id) }}">
                        {% if current_user.theme == 'light' %}
                        <img src="{{ url_for('static', filename='images/icon-delete-light.png') }}" height="24" width="24">
                        {% else %}
                        <img src="{{ url_for('static', filename='images/icon-delete-dark.png') }}" height="24" width="24">
                        {% endif %}                        
                    </a>
                    {% endif %}
                </td>
                <td>{{ queue_item.singer }}
                </td>
                <td>{{ queue_item.song }}</td>
                <td>{{ queue_item.artist }}</td>
                <td>
                    {% if queue_item.status == 'D' %}
                    {% if current_user.theme == 'light' %}
                    <img src="{{ url_for('static', filename='images/icon-download-light.png') }}" height="24" width="24">
                    {% else %}
                    <img src="{{ url_for('static', filename='images/icon-download-dark.png') }}" height="24" width="24">
                    {% endif %}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}