flask
flask-login
flask-sqlalchemy
flask-wtf
Flask-Babel
Flask-APScheduler
mysql-connector
pymysql
python-dotenv
requests
musicbrainzngs
qrcode
youtube-search-python
pytz
Pillow
httpx==0.27.2
tzdata 
yt-dlp
selenium
seleniumbase
apscheduler
pytubefix
pika